<div class="d-flex container flex-wrap align-items-center justify-content-center justify-content-md-between py-3  border-bottom">
    <a href="/" class="brand"><img src="/Images/Logo-Header.png" alt="">
    </a>

    <ul class="nav navigation col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class=""><a href="/" class="nav-link active px-2 link-secondary ">Home</a></li>
        <li><a href="/pages/industries.html" class="nav-link px-2 link-secondary">Industries</a></li>
        <li><a href="/pages/features.html" class="nav-link px-2 link-secondary">Features</a></li>
        <li><a href="/pages/pricing.html" class="nav-link px-2 link-secondary">Pricing</a></li>
        <li><a href="/pages/faq.html" class="nav-link px-2 link-secondary">Resources</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <button type="button" class="btn c-btn btn-outline-primary border me-2">Sign In</button>
        <button type="button" class="btn c-btn btn-primary">Try for free</button>
    </div>
</div>